/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--main-font-weight);
  background-image: var(--bg-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.header {
  display: flex;
  flex-direction: column;
  font-family: var(--accent-font);
  font-size: 49px;
  text-transform: uppercase;
  background-color: #fff;
  width: 696px;
  height: 368px;
  margin-top: 100px;
  border: 2px solid #000000;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.span {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  padding-top: 20px;
}

.block_width {
  width: clamp(375px, 100vw, 700px);
}

.main {
  display: flex;
  flex-direction: column;
}

.article {
  font-family: var(--main-font);
  background-color: #fff;
  border: 2px solid #000000;
  margin-bottom: 50px;
}

.h2 {
  font-variation-settings: 'wght' var(--accent-font-weight);
  padding: 4px 10px;
  font-size: 18px;
}

.car {
  width: clamp(371px, 100vw, 696px);
  aspect-ratio: 1 / 1;
  display: block;
}

.text {
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 25px;
}

.paragraph {
  font-weight: var(--main-font-weight);
  font-size: 18px;
  line-height: 21px;
}

.like {
  display: flex;
  justify-self: end;
  gap: 12px;
}

.card__icon-button {
  transition: outline 0.3s ease;
  width: 36px;
  height: 36px;
  background-color: transparent;
  border: none;
  position: relative;
}

.like-icon {
  transform-origin: center;
  position: absolute;
  inset: 0;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid #000;
}

.button {
  display: flex;
  justify-content: end;
  margin-right: 25px;
  margin-bottom: 25px;
  transition: box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0px #000;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  background: #000;
  transition: translate 0.5s ease-in-out;
  translate: -100%;
}

.button:hover::before {
  translate: 0%;
}

.card__like-button {
  display: flex;
  justify-self: right;
  margin-right: 25px;
  margin-bottom: 25px;
  padding: 12px 37px;
  border: 2px solid #000000;
  background-color: transparent;
  font-family: var(--accent-font);
  font-size: 14px;
  width: 130px;
  height: 38px;
}

.button__text {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  color: #fff;
  text-align: center;
}

.button_flex {
  display: flex;
  justify-content: right;
  gap: 7px;
}

.heart_button {
  width: 39px;
  height: 36px;
  margin-bottom: 32px;
  transition: outline 0.3s ease;
}

.heart_button:focus {
  outline: none;
}

.heart_button:focus-visible {
  outline: 2px solid #000;
}

.forlabel {
  position: relative;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}
.label {
  font-family: var(--accent-font);
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 14px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  font-weight: 400;
  text-transform: uppercase;
  color: #000;
  text-shadow: var(--label-shadow);
}

@supports (text-stroke: 1px #fff) {
  .label {
    text-stroke: 1px #fff;
  }
}

.save {
  display: flex;
  justify-content: center;
}

.floppy__button {
  font-family: var(--accent-font);
  margin-bottom: 100px;
  font-size: 14px;
  width: 335px;
  height: 55px;
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: 8px;
  border: 2px solid #000;
  margin-right: 0;
  padding-right: 20px;
}

.floppy_icon {
  width: 21px;
  height: 21px;
  mix-blend-mode: difference;
  color: #fff;
}

.floppy__button-text {
  font-family: var(--accent-font);
  font-weight: var(--main-weight);
  color: #fff;
  mix-blend-mode: difference;
}

.dialog {
  font-family: var(--accent-font);
  font-size: 14px;
  text-transform: uppercase;
  width: 353px;
  height: 191px;
  font-weight: 400;
  line-height: 150%;
  display: none;
}

.dialog_button {
  max-width: 293px;
  height: 38px;
  display: block;
  background-color: #fff;
  margin: 0;
  grid-column: span 2;
  padding: 0;
}

.dialog[open] .floppy_icon {
  width: 39px;
  height: 39px;
}

.dialog[open] {
  display: grid;
  grid-template-columns: 39px 1fr;
  grid-template-rows: 1fr 1fr;
  max-width: 353px;
  padding: 30px;
  gap: 20px;
  align-items: center;
}

.dialog::backdrop {
  background: rgba(0, 0, 0, 0.75);
}

h3 {
  font-size: 14px;
  line-height: 150%;
}

@media (width <= 375px) {
  
   .header {
    height: 327px;
   }

   .car {
    max-width: 371px;
   }

  .floppy__button {
    display: flex;
    flex-direction: column;
    height: 84px;
    width: 306px;
    line-height: 90%;
    gap: 8px;
    padding-bottom: 16px;
    padding-left: 16px;
  }

  .floppy__button-text {
    font-size: 14px;
    line-height: 90%;
  }

   .floppy_icon {
    width: 28px;
    height: 28px;
   }

   .dialog[open] {
    max-width: 341px;
    padding: 30px 40px;
   }
}

.brightness {
  filter: brightness(200%);
}

.contrast {
  filter: contrast(30%);
}

.blur {
  filter: blur(2px);
}

.grayscale {
  filter: grayscale(0.7);
}

.invert {
  filter: invert(0.7);
}

.sepia {
  filter: sepia(80%);
}

.multiple_filter {
  filter: sepia(60%) contrast(30%) brightness(150%);
}

.sparks {
  opacity: 0;
}

.contour {
  transition: fill 0.1s linear;
}

.core {
  transition: fill 0.3s linear;
  transition-delay: 0.03s;
}

.main-body {
  transition: fill 0.3s linear;
}

.like-icon:hover .core {
    fill: #000;
    transition: fill 0.3s linear;
  }

  .like-icon:hover .main-body {
    fill: #000;
    transition: fill 0.3s linear;
    transition-delay: 0.05s;
  }

.like-icon:active .core {
    fill: #FF0000;
    transition: 0.3s linear ;
  }

  .like-icon:active .main-body {
    fill: #FF0000;
    transition: 0.3s linear;
    transition-delay: 0.05s;
  }

.like-icon.is-liked .core {
  fill: #FF0000;
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: #FF0000;
  transition: fill 0.3s linear;
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: #FF0000;
  transition: fill 0.3s linear;
  transition-delay: 0.06s;
}

.like-icon.is-liked .heart {
  animation-name: scale;
  animation-duration: 0.3s;
  animation-delay: 0.1s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
}