/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), 'Arial', sans-serif;
  font-variation-settings: 'wght' var(--main-font-weight);
  background-image: var(--bg-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.header {
  display: flex;
  flex-direction: column;
  font-family: var(--accent-font);
  text-transform: uppercase;
  background-color: #fff;
  width: max-content;
  margin-top: 100px;
  outline: 2px solid #000000;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  padding: 130px 0;
}

.logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__text {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  padding-top: 20px;
}

.block_width {
  width: clamp(375px, 100vw, 700px);
}

.main {
  display: flex;
  flex-direction: column;
}

.main__article {
  font-family: var(--main-font);
  background-color: #fff;
  border: 2px solid #000000;
  margin-bottom: 51px;
}

.article__title {
  font-variation-settings: 'wght' var(--accent-font-weight);
  padding: 4px 10px;
  font-size: 18px;
}

.article__image {
  width: clamp(371px, calc(100vw - 4px), 696px);
  aspect-ratio: 1 / 1;
  display: block;
  object-fit: cover;
  object-position: center;
}

.text {
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 25px;
}

.paragraph {
  font-weight: var(--main-font-weight);
  font-size: 18px;
  line-height: 21px;
}

.like {
  display: flex;
  justify-self: end;
  gap: 10px;
}

.card__icon-button {
  outline: 2px solid transparent;
  transition: outline 0.3s ease;
  width: 36px;
  height: 36px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid #000;
}

.button {
  display: flex;
  justify-content: end;
  margin-right: 25px;
  margin-bottom: 25px;
  transition: box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #000;
  background-color: transparent;
  font-family: var(--accent-font);
  font-size: 14px;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px #000;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  background: #000;
  transition: translate 0.5s ease-in-out;
  translate: -100%;
}

.button:hover::before {
  translate: 0%;
}

.card__like-button {
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  min-width: 130px;  
}

.button__text {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  color: #fff;
  text-align: center;
}

.button_flex {
  display: flex;
  justify-content: right;
  gap: 7px;
}

.heart_button {
  width: 39px;
  height: 36px;
  margin-bottom: 32px;
  transition: outline 0.3s ease;
}

.heart_button:focus {
  outline: none;
}

.heart_button:focus-visible {
  outline: 2px solid #000;
}

.article__label {
  position: relative;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.label {
  font-family: var(--accent-font);
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 14px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  font-weight: 400;
  text-transform: uppercase;
  color: #000;
  text-shadow: var(--label-shadow);
}

@supports (text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #000) {
  .label {
    text-stroke: 1px #fff;
    -webkit-text-stroke: 1px #fff;
    text-shadow: none;
  }
}

.floppy__button {
  margin-bottom: 100px;
  width: max-content;
  background-color: #fff;
  align-items: center;
  gap: 6px;
  border: 2px solid #000;
  margin-right: 0;
  padding: 16px 20px;
  align-self: center; 
}

.floppy__icon {
  width: 21px;
  height: 21px;
  mix-blend-mode: difference;
  color: #fff;
}

.dialog {
  font-family: var(--accent-font);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 150%;
  display: none;
  grid-template-columns: 39px 1fr;
  grid-template-rows: 1fr 38px;
  max-width: 353px;
  padding: 30px;
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  align-items: center;
}

.dialog__button {
  display: block;
  background-color: #fff;
  margin: 0;
  grid-column: span 2;
  padding: 0;
  text-transform: uppercase;
  padding: 11px 0;
}

.floppy__icon_dialog {
  width: 39px;
  height: 39px;
}

.dialog[open] {
  display: grid;
}

.dialog::backdrop {
  background: rgba(0, 0, 0, 0.75);
}

.dialog__text {
  font-size: 14px;
  line-height: 150%;
}

@media (width <= 375px) {

   .header {
    padding: 122px 0;
   }

   .car {
    max-width: 371px;
   }

  .floppy__button {
    display: flex;
    flex-direction: column;
    line-height: 90%;
    gap: 8px;
    padding-bottom: 16px;
    padding-left: 16px;
  }

  .floppy__button-text {
    font-size: 14px;
    line-height: 90%;
  }

   .floppy__icon {
    width: 28px;
    height: 28px;
   }
}

.filter-brightness {
  filter: brightness(200%);
}

.filter-contrast {
  filter: contrast(30%);
}

.filter-blur {
  filter: blur(2px);
}

.filter-grayscale {
  filter: grayscale(0.7);
}

.filter-invert {
  filter: invert(0.7);
}

.filter-sepia {
  filter: sepia(80%);
}

.multiple-filter {
  filter: sepia(60%) contrast(30%) brightness(150%);
}

.sparks {
  opacity: 0;
}

.contour {
  transition: fill 0.1s linear;
}

.core {
  transition: fill 0.3s linear;
  transition-delay: 0.03s;
}

.main-body {
  transition: fill 0.3s linear;
}

.like-icon:hover .core {
  fill: #000;
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: #000;
  transition: fill 0.3s linear;
  transition-delay: 0.05s;
}

.like-icon:active .core {
  fill: #FF0000;
  transition: 0.3s linear ;
}

.like-icon:active .main-body {
  fill: #FF0000;
  transition: 0.3s linear;
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: #FF0000;
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: #FF0000;
  transition: fill 0.3s linear;
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: #FF0000;
  transition: fill 0.3s linear;
  transition-delay: 0.06s;
}

.like-icon.is-liked .heart {
  animation-name: heartIconScale;
  animation-duration: 0.3s;
  animation-delay: 0.1s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  transform-origin: center;
}